<h1>User#confirmation</h1>
<h1>Event Registration Confirmation</h1>
<p>Thank you for registering for the event <%= @event_name %>!</p>
<p>Please confirm your registration by clicking the link below:</p>
<p><a href="<%= @url %>">Confirm Registration</a></p>